x-args: &args
    USER: ${CONTAINER_USER}
    REPOSITORY: ${REPOSITORY}

x-git-args: &git-args
    GIT_AUTHOR_NAME: ${GIT_AUTHOR_NAME}
    GIT_AUTHOR_EMAIL: ${GIT_AUTHOR_EMAIL}

x-base: &base
    volumes:
        - storage:/home/${CONTAINER_USER}/${REPOSITORY}
    cap_drop:
        - all
    security_opt:
        - no-new-privileges

services:      
    git:
        <<: *base
        build:
            context: .
            dockerfile: git.dockerfile
            args:
                <<: [*args, *git-args]
    dev:
        <<: *base
        build:
            context: .
            dockerfile: dev.dockerfile
            args:
                <<: *args

volumes:
    storage:
